@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>HOTELIZATOR</h1>
    </div>

<div class="jumbotron">
    <h2>Descubra os melhores quartos para se hospedar no mundo inteiro</h2>
    <p class="lead">Nosso site deseja que você, viajante, consiga os melhores quartos pelos melhores preços e com as melhores oportunidade. Descubra mais sobre o seu destino conosco!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Continentes</h2>
        <p>Verifique os continentes cadastrados e adicione novos, caso tenhamos esquecido de colocá-los!</p>
        <p><a class="btn btn-default" href="/continentes/Index">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Países</h2>
        <p>Escolha ou adicione o seu país de destino! Preparado para a viagem?</p>
        <p><a class="btn btn-default" href="/pais/Index">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cidades</h2>
        <p>Analise, adicione e escolha a cidade desejada.</p>
        <p><a class="btn btn-default" href="/cidades/Index">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hotéis</h2>
        <p>Preparado para os melhores hotéis? Selecione o que deseja e adicione novos locais.</p>
        <p><a class="btn btn-default" href="/hotels/Index">Saber mais &raquo;</a></p>
        <h3>Quartos</h3>
        <p>Ufa! Quase no fim! Agora é só selecionar o quarto.</p>
        <p><a class="btn btn-default" href="/quarto_hotel/Index">Saber mais &raquo;</a></p>
    </div>
</div>